/* .content {
    width: 94%;
    margin: 4em auto;
    font-size: 20px;
    line-height: 30px;
    text-align: justify;
} */
.content{
    margin: 0;
    width: 100%;
    height: 100%;
}
.aboutProject{
    
    margin: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    /* flex-flow: wrap; */
}
.title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 50px;
    width: 90%;
    height: 80px;
    margin-top: 100px;
}
.aboutTitle{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    /* background-color: brown; */
    font-size: 50px;
    width: 90%;
    height: 80px;
    margin-top: 100px;
}

.photoANDtext{
    display: flex;
    justify-content: space-around;
    /* flex-wrap: wrap-reverse; */
    width: 90%;
    /* margin-bottom: 195px; */
    margin-bottom: 180px;
}
.aboutTXT{
    /* position: relative; */
    display: flex;
    justify-content: left;
    flex-wrap:wrap;
    width: 2000px;
}
.aboutTXT p{
    display: flex;
    flex-wrap: nowrap;
    font-size: 24px;
   padding: 10px;
   padding-right: 90px;
}
.vanPhotoContainer{
    display: flex;
    justify-content: center;
    width:85%;
    height: auto;
    margin-left: 70px;
    /* background-color:chartreuse; */
}

@media screen and (max-width:1600px) {
    .vanPhotoContainer{
        margin: 0;
        width: 100%;
        /* flex-direction: column-reverse; */
        
    }
    .photoANDtext{
        flex-wrap: wrap-reverse;
        width: 100%;
    }
    .aboutTXT p{
      
        padding: 30px;
        padding-right: 30px;
    }
    .aboutTXT{
        width: auto;
    }
}


.commentButton{
    /* position: absolute; */
   /* right: 40%;
   bottom: 20%;  */
   height: 65px;
   border-radius: 15px;
   background-color: rgb(108, 153, 145, 0.5);
   border: none;
   color: rgb(255, 255, 255, 1);
   padding: 16px 32px;
   text-align: center;
   font-size: 16px;
   margin: 0 32px 2px;
   opacity: 0.8;
   transition: 0.3s;
   display: inline-block;
   text-decoration: none;
   cursor: pointer;
}
.commentButton:hover {opacity: 1}